/* Globals */
*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
	height: 100vh;
}
.slider{
	width: 100%;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	user-select:none;
	position: relative;
	transform: scale(0.98);
}
.slider.active{
	cursor: grabbing;
	cursor: -webkit-grabbing;
	transform: scale(1);
}
.item{
	height: 300px;
	background-color: #000;
	margin:5px;
	display: inline-flex;
	width: 20%;
	justify-content: center;
	align-items: center;
}